.fixed{
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #222222;
}
.s002 {
  min-height: 10vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Poppins', sans-serif;
  background: url("../images/Searchs_002.png");
  background-size: cover;
  background-position: center center;
  padding: 15px;
}
.s002 form {
  width: 100%;
  max-width: 800px;
}
.s002 form .inner-form {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.s002 form .inner-form .input-field {
  position: relative;
  border-right: 1px solid #ddd;
}
  
  
.s002 form .inner-form .input-field input {
  height: 70px;
  background: #fff;
  border-radius: 0;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 20px 10px 45px;
  font-size: 16px;
  color: #555;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.s002 form .inner-form .input-field input.placeholder {
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
  

.s002 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.s002 form .inner-form .input-field input:hover, .s002 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}
  
.s002 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.s002 form .inner-form .input-field.fifth-wrap {
  min-width: 190px;
  max-width: 190px;
  padding-left: 10px;
  border-right: 0;
}

.s002 form .inner-form .input-field.fifth-wrap .btn-search {
  height: 70px;
  width: 100%;
  background: #b78a62;
  white-space: nowrap;
  border-radius: .5px;
  font-size: 20px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
  
.s002 form .inner-form .input-field.fifth-wrap .btn-search:hover {
  background: #af7d51;
}
.alert{
  position: fixed;
  top: 40%;
  left: 48%;
}
@media screen and (max-width: 767px) {
  .s002 form .inner-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .s002 form .inner-form .input-field {
    margin-bottom: 15px;
  }
  .s002 form .inner-form .input-field.first-wrap {
    width: 100%;
  }
  .s002 form .inner-form .input-field.fifth-wrap {
    width: calc(50% - 7.5px);
    max-width: none;
    padding-left: 0;
    margin-bottom: 0;
  }
}
  
@media screen and (max-width: 1280px) {
  .s002 form .inner-form .input-field.fifth-wrap {
    width: 100%;
    margin-bottom: 0;
  }
  #locate{
      display: none;
  }
}

.navbar ul li a{
    border-bottom: 1px solid transparent;
    font-weight: bold;
    font-size: large;
    color:#fff;
    font-family: 'Poppins', sans-serif;
}
.navbar ul li a:hover{
    color:#b78a62;
    border-bottom: 1px solid #b78a62;
}
.btn_hover{
    color: #fff;
}
.btn_hover:hover{
    color: #b78a62;
}

#carticon{
    font-size: 48px;
    color: white;
}
#carticon2{
  display: none;
  position: absolute; top: 15px; right: -20%; z-index: 9999 ; 

}
#collapnavbar{
    transition: height 1.0s ease;
}
.ulfooter {
  list-style: none;
  
}
.ulfooter li h5{
  font-weight: bold;;
  color: #af7d51;
  box-shadow: 0 0.1px 0 #af7d51;
}
.ulfooter li span{
  padding: 3px 0px;
  color: #666;
}
.ulfooter li span:hover{
  color: #af7d51;
}
.spinner{
  position: fixed;
  width: 100%;
  height: 100%;
  line-height: 100%;
  background-color: rgb(154, 154, 154, 0.2);
  z-index: 99999;
}
.spinner-border{
  margin: 0;
  position: absolute;
  top: 45%;
  position: absolute;
  -ms-transform: translateY(-50%);
}
